<body>
    
    
    <div class="dropdown" >
        <button  (click)="toggleClick()">{{optionTitle}} <span ><img [@arrowAnimation]="arrowstate"  src="../../assets/icons/down-arrow.png" width="16px" ></span></button>
        
        <div *ngFor="let item of locationArray"  [ngStyle]="{display:toggle }" class="optionLabel">
            <label style="display: flex; align-items: center;" >
            <input  type="checkbox" name={{item[keyString]}} [checked]="item.isChecked" (change)="optionClick(item, $event)" [disabled]="maxlimit(item)">
            {{item[keyString]}}
            </label>
        </div>
        <div style="color: red;" *ngIf="selectedCount >= maxSelect"> You Can Select only {{maxSelect}}</div>
    </div>
    
    
   
</body>